/* Global */
body {
    margin: 0;
    padding: 0;
    background: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #000;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    opacity: 0.6;
}

/* Hero */
.hero {
    height: 100vh;
    background-image: url("assets/IMG_3725.webp");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero-content h1 {
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: bold;
}

.hero-content p {
    font-size: 20px;
    margin-bottom: 30px;
}

/* Buttons */
.btn-primary {
    background: #fff;
    color: #000;
    padding: 14px 30px;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}

.btn-outline {
    border: 2px solid #fff;
    padding: 14px 30px;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

/* Footer */
footer {
    text-align: center;
    padding: 30px;
    background: #000;
    border-top: 1px solid #222;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #aaa;
    margin: 0 8px;
    font-size: 14px;
    text-decoration: none;
}

.footer-links a:hover {
    color: #fff;
}
/* STORE GRID */
.store-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 30px;
}

/* PRODUCT CARD */
.product-card {
    background: #111;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    border: 1px solid #222;
    transition: 0.3s;
}

.product-card:hover {
    transform: translateY(-6px);
    border-color: #444;
}

.product-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.product-card h3 {
    font-size: 1.2rem;
    margin-bottom: 8px;
    color: #fff;
}

.price {
    font-size: 1.1rem;
    color: #ccc;
    margin-bottom: 15px;
}

/* BUY BUTTON */
.buy-btn {
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}

.buy-btn:hover {
    background: white;
    color: black;
}
