body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #000;
    color: #fff;
}

nav {
    background: #111;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    color: #ff0000;
}

section {
    padding: 40px;
    text-align: center;
}
